[Unit]
Wants=network-online.target
After=network-online.target
Before=nomad.service

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/bin/consul lock infra/gluster-init /usr/local/bin/gluster-init.sh

[Install]
WantedBy=default.target
