[Unit]
Wants=network-online.target
After=network-online.target
# todo: is `Before` the proper way to do this. I do not want nomad to start at
#       all before the storage is good.
Before=nomad.service

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/bin/gluster-init.sh

[Install]
WantedBy=default.target
