[Unit]
Description=Reboot Scheduling.

# the node will reboot itself sometime within one to two weeks. 604800 is the
# amount of seconds in a week.
[Timer]
OnBootSec=604800
RandomizedDelaySec=604800

[Install]
WantedBy=multi-user.target
