[Unit]
Description=Formats /dev/nvme0 device for use as scratch
After=dev-nvme0n1.device
Requires=dev-nvme0n1.device
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/dd if=/dev/zero of=/dev/nvme0n1 bs=512 count=1
ExecStart=/usr/sbin/parted /dev/nvme0n1 --script -- mklabel msdos
ExecStart=/usr/sbin/parted /dev/nvme0n1 --script -- mkpart primary 0% 70%
ExecStart=/usr/sbin/parted /dev/nvme0n1 --script -- mkpart primary 71% 100%
# hack: let the system recognise the drive
ExecStart=/bin/sleep 2
ExecStart=/usr/sbin/mkfs.xfs -f -i size=512 /dev/nvme0n1p1
ExecStart=/usr/sbin/mkfs.ext4 -F /dev/nvme0n1p2
# hack: let system see the FS
ExecStart=/bin/sleep 2

[Install]
WantedBy=multi-user.target
