[Unit]
Description=mount glusterfs for "better" shared storage
#Before=nomad.service
#After=gluster-init.service
#BindsTo=gluster-init.service
#Requires=gluster-init.service

[Mount]
What=localhost:/shared
Where=/mnt/shared
Type=glusterfs

[Install]
WantedBy=multi-user.target
